# 工作流名称
name: Relsase and Publish

on:
  # 指明要运行的分支，跟上面配置保持一致
  push:
    branches: [release]

permissions:
  contents: write
  issues: write
  pull-requests: write
  packages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 签出代码
        uses: actions/checkout@v3

      - name: 安装 nodejs
        uses: actions/setup-node@v2.5.2
        with:
          node-version: "20.8.1"

      - name: 打包构建
        run: |
          npm install -g pnpm@latest-8
          chmod +x ./build.sh
          ./build.sh

      # 执行 semantic-release 发布包
      - name: 发布 server npm 包
        env:
          GITHUB_TOKEN: ${{ secrets.PUBLISH_GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.PUBLISH_NPM_TOKEN }}
        run: npx semantic-release
        working-directory: packages/server
